<footer class="links-list">
            <base target="_blank">
    <ul>
        <li><a href="https://x.com/collinblatt/"><i data-feather="x"></i></a></li>
        <li><a href="https://www.instagram.com/collin.blatt/"><i data-feather="instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/collinblatt/"><i data-feather="linkedin"></i></a></li>
        <li><a href="http://old.collinblatt.com/crypto/"><i data-feather="aperture"></i></a></li>
    </ul>
    
    </footer>
    
    <script>
        feather.replace({'stroke-width': 1.0})
    </script>
    
    <script>
    document.addEventListener("mousemove", function (e) {
      const x = e.clientX / window.innerWidth;
      const y = e.clientY / window.innerHeight;
    
      const gradientColor = `radial-gradient(circle at ${x * 100}% ${y * 100}%, #559728, #254411)`;
    
      document.getElementById("gradient-bg").style.background = gradientColor;
    });
    </script>