   /* :root {

    }*/

html {
    font-size: 62.5%;
}

body {
    background-color: #090B10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.2rem;
    color: #eee;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}
.page-container {
    background-color: #0F111A;
    margin: 1rem 0;
    padding: 1rem;
    flex-direction: column;
    max-width: 85%;
    border-radius: 1rem;
}

p::first-line {
    padding-left: 5rem;
}